---
import Layout from "../layouts/Layout.astro";
import { Pomotimer } from "../components/Pomotimer.tsx";
import { Card } from "../components/Card.tsx";
---

<Layout title="Pomotimer">
  <main>
    <section class="font-bold">
      <Pomotimer client:load />
    </section>
  </main>
</Layout>
