---
import Layout from "../layouts/Layout.astro";
import { Pomotimer } from "../components/Pomotimer.tsx";
---

<Layout title="Pomotimer">
  <header>
    <p>Pomo<span>Timer</span></p>
    <button>menu </button>
  </header>
  <main>
    <section>
      <Pomotimer client:load />
      <div>
        <ul>
          <li>
            <span>Icon 💼</span>
            <p>Title</p>
            <span>Time</span>
          </li>
        </ul>
      </div>
    </section>
  </main>
</Layout>
