---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Pomotimer">
  <header>
    <p>Pomo<span> Timer </span></p>
    <button>menu </button>
  </header>
  <main>
    <section>
      <div>
        <h2>25:00</h2>
        <p>Work</p>
        <span>1/4</span>
      </div>
      <div>
        <ul>
          <li>
            <span>Icon 💼</span>
            <p>Title</p>
            <span>Time</span>
          </li>
        </ul>
      </div>
    </section>
  </main>
</Layout>
