---
import Layout from "../layouts/Layout.astro";
import { Timer } from "../components/Timer.tsx";
---

<Layout title="Pomotimer">
  <main>
    <section>
      <div class="font-bold">
        <Timer client:load />
      </div>
      <div>
        <ul>
          <li class="">
            <span>Icon 💼</span>
            <p>Title</p>
            <span>Time</span>
          </li>
        </ul>
      </div>
    </section>
  </main>
</Layout>
