---
import Layout from "../layouts/Layout.astro";
import { Timer } from "../components/Timer.tsx";
import { Card } from "../components/Card.tsx";
---

<Layout title="Pomotimer">
  <main>
    <section class="max-w-2xl px-6">
      <Timer client:load />
      <div>
        <ul>
          <li>
            <Card icon="ðŸ›" title="work" times={[25, 5]} />
          </li>
        </ul>
      </div>
    </section>
  </main>
</Layout>
