---
import Layout from '../layouts/Layout.astro'
import { Pomotimer } from '../components/Pomotimer.tsx'
---

<Layout title="Pomotimer">
  <main>
    <section>
      <div class="font-bold">
        <Pomotimer client:load />
      </div>
      <div>
        <ul>
          <li class="">
            <span>Icon 💼</span>
            <p>Title</p>
            <span>Time</span>
          </li>
        </ul>
      </div>
    </section>
  </main>
</Layout>
