---
import Layout from "../layouts/Layout.astro";
import { Timer } from "../components/Timer.tsx";
import type { Pomotime } from "../types";

const pomotime: Pomotime = {
  time: {
    min: 0,
    sec: 5,
  },
  title: "work",
  completed: 1,
  total: 4,
};
---

<Layout title="Pomotimer">
  <header>
    <p>Pomo<span>Timer</span></p>
    <button>menu </button>
  </header>
  <main>
    <section>
      <Timer client:load pomotime={pomotime} />
      <div>
        <ul>
          <li>
            <span>Icon 💼</span>
            <p>Title</p>
            <span>Time</span>
          </li>
        </ul>
      </div>
    </section>
  </main>
</Layout>
