---
import Layout from "../layouts/Layout.astro";
import { Pomotimer } from "../components/Pomotimer.tsx";
import { Card } from "../components/Card.tsx";
---

<Layout title="Pomotimer">
  <main>
    <section>
      <div class="font-bold">
        <Pomotimer client:load />
      </div>
      <div class="flex flex-col gap-4">
        <Card icon="💼" title="work" times={[25, 5]} />
        <Card icon="📖" title="Read" times={[25, 5]} />
      </div>
    </section>
  </main>
</Layout>
