.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  min-height: 4rem;
  background-color: var(--white);
}

.title {
  font-size: 2rem;
  transition: .3s;
  cursor: pointer;
  margin: 0;
}

.title span {
  color: var(--primary);
}

.title:hover {
  font-size: 2.1rem;
}

.burger_btn {
  background-color: transparent;
  transition: .3s;
  border: 0;
}

.burger_btn:hover {
  transform: scale(1.2);
}